<h3 class="pb-4">Accounts</h3>
<table class="table table-striped pt-2">
  <thead>
    <tr>
      <th>ID</th>
      <th>Full name</th>
      <th>Email</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr class="align-middle border-primary">
        <td><%= account.id %></td>
        <td><%= account.full_name %></td>
        <td><%= account.email %></td>
        <td><%= account.created_at.strftime('%d / %m / %Y') %></td>
        <td><%= link_to "View Profile", profile_path(account.id), class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
