
<% if current_account.admin? %>
  <h3 class="mt-2 pb-4">All Reservations</h3>
<% else %>
  <h3 class="mt-2 pb-4">Your Reservations</h3>
<% end %>

<table class="table table-responsive w-100 p-lg-3">
  <thead>
  <tr>
    <th>ID</th>
    <% if current_account.admin? %>
      <th>Account ID</th>
      <th>Property ID</th>
    <% end %>
    <th>Property name</th>
    <th>Total price</th>
    <th>Res Start</th>
    <th>Res End</th>
    <% if current_account.admin? %>
      <th>Res Created at</th>
    <% end %>
    <th>Options</th>
  </tr>
  </thead>

  <tbody>
  <% if Reservation.all.exists? %>
    <% if current_account.admin? %>
        <% Reservation.all.each do |reservation| %>
            <tr class="align-middle border-primary">
              <td><%= reservation.id %></td>
              <td><%= reservation.account_id %></td>
              <td><%= reservation.property_id %></td>
              <td><%= reservation.property_name %></td>
              <td><%= reservation.total_price %></td>
              <td><%= reservation.start_date %></td>
              <td><%= reservation.end_date %></td>
              <td><%= reservation.created_at %></td>
              <td><%= link_to 'Delete', reservation, method: :delete,
                              data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
            </tr>
        <% end %>
    <% else %>
      <% Reservation.all.each do |reservation| %>
        <% if current_account.id == reservation.account_id  %>
          <tr class="align-middle border-primary">
            <td><%= reservation.id %></td>
            <td><%= reservation.property_name %></td>
            <td><%= reservation.total_price %></td>
            <td><%= reservation.start_date %></td>
            <td><%= reservation.end_date %></td>
            <td><%= link_to 'Cancel', reservation, method: :delete,
                            data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <h1 class="h3">No Reservation found.</h1>
  <% end %>
  </tbody>
</table>

<div class="col ms-5 mt-4">
  <%= link_to "New Reservation", new_reservation_path, class: "btn btn-primary" %>
</div>